* {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #22333b;
}

#container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#display {
  height: 112px;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  font-size: 26px;
  color: #ececee;
  padding: 0 12px 16px 0;
  overflow: hidden;
  background-color: #001d3d;
  border-radius: 15px 15px 0 0;
}

#buttons {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.row > button {
  width: 100%;
  height: 72px;
  flex: auto;
  border: none;
  background-color: #370617;
  font-size: 20px;
  color: white;
}

#divide,
#evaluate,
#decimal {
  min-width: 75px;
  max-width: 75px;
}

#zero {
  border-bottom-left-radius: 15px;
}

#evaluate {
  border-bottom-right-radius: 15px;
}

#evaluate,
button.operator {
  background-color: black;
}
